@import "tailwindcss";

body {
    background-color: var(--background);
    color: var(--foreground);
}

.poppins {
    font-family: var(--poppins), sans-serif;
}

.fredoka {
    font-family: var(--fredoka), sans-serif;
}

.rubik {
    font-family: var(--rubik), sans-serif;
}